.valuation {
	@include flex;
	padding-top: 15rem;
	padding-bottom: 8rem;
	background: var(--color-primary);

	@media screen and (max-width: 600px) {
		gap: 3rem;
		justify-content: first baseline;
	}

	&__content {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
	&__icon {
		width: 20%;
	}
}
