.barchart {
	background: var(--color-purple);
	border-radius: var(--border-radius);
	padding: 2rem 3rem;
	position: relative;
	font-family: 'Inter', sans-serif;
	color: var(--color-white);
	width: 50%;
	transform: perspective(300rem) rotateY(-14deg);
	transition: transform 1s ease 0s;
	cursor: pointer;

	&:hover {
		transform: perspective(150rem) rotateY(13deg);
	}

	@media screen and (max-width: 600px) {
		width: 80%;
	}

	&__head {
		@include flex;

		margin-top: -1.5rem;

		& > p {
			color: var(--color-green);
		}

		@media screen and (max-width: 600px) {
			flex-direction: row;
		}
	}

	&__text-content {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	&__bitcoin-logo {
		width: 3rem;
	}
	&__title {
		font-size: 1.5rem;
		& > span {
			vertical-align: text-top;
			margin-left: 0.2rem;
			font-size: 1rem;
		}
	}

	&__chart {
		width: 100%;
	}

	&__tags {
		background: var(--color-purple-2);
		position: absolute;
		border-radius: var(--border-radius);
		box-shadow: 0 1px 1px 0.5px rgba(var(--color-white), 0.5);
		cursor: context-menu;

		&--right {
			right: 5%;
			padding: 1.5rem 3rem;
			font-size: var(--fs-heading-tertiary);
			bottom: -22%;
			transition: all 1s ease;

			&:hover {
				bottom: 1%;
			}

			@media screen and (max-width: 900px) {
				padding: 1.5rem 2rem;
			}

			& > h4 {
				text-align: center;
			}

			& > p {
				line-height: 1;
			}
		}

		&--left {
			padding: 1.5rem 2rem;
			font-size: var(--fs-regular);
			bottom: -46%;
			transition: all 1s ease;

			&:hover {
				bottom: -22%;
			}

			@media screen and (max-width: 900px) {
				padding: 1.5rem 1.5rem;
			}

			& > h4 {
				width: 10ch;

				small {
					color: var(--color-red);
					font-size: 1rem;
					margin-left: 0.5rem;
				}
			}

			& > h4:nth-child(2) {
				margin: 1rem 0;
				font-size: 1.3rem;
			}
		}
	}
}
