.btn {
	background: var(--color-blue);
	border: none;
	border-radius: 5rem;
	padding: 1.2rem 2rem;
	color: var(--color-white);
	font-size: var(--fs-regular);
	font-weight: 800;
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	&__icon {
		height: 2rem;
		width: 2rem;
	}

	&.alternate {
		background: var(--color-white);
		color: var(--color-primary);
	}
}
