.text-input {
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color-grey);
	padding: 1rem 1rem;
	font-size: var(--fs-regular);
	font-family: inherit;
	color: var(--color-primary);
	background: transparent;

	&.alternate {
		border-bottom: 1px solid #ffffff66;
		color: var(--color-white);

		&::placeholder {
			color: var(--color-white);
		}
	}
}
